game-container {
  game-title {
    background-color: lightgrey;
    font-variant: small-caps;
    padding: 5px;
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }
  players-list {
    display: flex;
    flex-flow: column;
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;

    player-name {
      font-size: 1.5em;
      display: block;
      padding: 1.2em;
    }
  }
  board-container {
    padding-left: 8px;

    display: block;
    board-row {
      display: flex;
      game-square {
        display: block;
        border: 1px solid black;
        background-color: #00800069;

        &:before {
          display: none;
          position: absolute;
          left: 0;
          display: flex;
          left: 0;
          width: 100%;
          height: 100%;
          top: 0;
          justify-content: center;
          align-items: center;
          line-height: 25px;
          bottom: 0;
          color: black;
          opacity: 0.3;
          font-size: 0.8em;
        }

        &.center {
          background-color: #ff669991;
          position: relative;
          &:before {
            content: "*";
            display: flex;
            font-size: 50px;
            top: 14px;
          }
        }

        &.double-word {
          background-color: #ff669991;
          position: relative;
          &:before {
            content: "DW";
            display: flex;
          }
        }

        &.triple-word {
          background-color: #ff000091;
          position: relative;
          &:before {
            content: "TW";
            display: flex;
          }
        }

        &.double-letter {
          background-color: #00ccff6e;
          position: relative;
          &:before {
            content: "DL";
            display: flex;
          }
        }

        &.triple-letter {
          background-color: #0000998a;
          position: relative;
          &:before {
            content: "TL";
            display: flex;
          }
        }

        input {
          width: 26px;
          height: 26px;
          text-align: center;
          padding: 0;
          margin-top: 2px;
          margin-left: 2px;
          font-size: 18px;
          line-height: 26px;
          border: 0 solid transparent;
          background: transparent;
          z-index: 2;
          position: relative;

          &.filled {
            background-color: #ffffffa1;
            margin: 1px;
          }
        }
      }
    }
  }
}

tile-container {
  background-color: white;
  border: 1px solid #979797;
  border-radius: 5px;
  margin: 1px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  tile-score {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 0.5em;
  }
}

tile-board {
  padding: 1em;
  display: block;
  list-of-tiles {
    display: flex;
  }
}
